:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #eecda3; /* fallback for old browsers */
  background: linear-gradient(
    315deg,
    #07a3b2,
    #d9ecc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
