@function textShadow($precision, $size, $color) {
  $value: null;
  $offset: 0;
  $length: $size * (1 / $precision) - 1;

  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: $offset + px $offset + px $color;
    $value: append($value, $shadow, comma);
  }

  @return $value;
}

$text-color: #fff;

.playful {
  color: $text-color;
}

.playful span {
  position: relative;
  color: $text-color;
  animation: scatter 1s infinite ease-in-out;
  animation-delay: 0.15s;
}

.playful span:nth-child(2n) {
  color: $text-color;
  animation-delay: 0.2s;
}

.playful span:nth-child(3n) {
  color: $text-color;
  animation-delay: 0.25s;
}

.playful span:nth-child(4n) {
  color: $text-color;
  animation-delay: 0.3s;
}

.playful span:nth-child(5n) {
  color: $text-color;
  animation-delay: 0.35s;
}

.playful span:nth-child(7n) {
  color: $text-color;
  animation-delay: 0.4s;
}

.playful span:nth-child(8n) {
  color: $text-color;
  animation-delay: 0.45s;
}

.playful span:nth-child(9n) {
  color: $text-color;
  animation-delay: 0.5s;
}

.playful span:nth-child(10n) {
  color: $text-color;
  animation-delay: 0.55s;
}

@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

// .header-text {
//   font-size: 65px;
//   text-transform: uppercase;
//   font-weight: normal;
//   display: block;
//   text-align: center;
//   margin: 10rem auto;
//   margin: calc(50vh - 5rem) auto;
// }
